<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h2>Sign In</h2>

    <form action="login" method="post">
        {% csrf_token %}
        <input type="tesy" name="username" placeholder="Enter username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <p><a href="password_reset">Forgot Password?</a></p>
        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>

</body>
</html>