<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Confirmation</title>
  </head>
  <body>
    <form method="post" action="ticketconf">
      {% csrf_token %}
      <h5>Email:</h5>
      <input type="text" name="email" value="{{user.email}}" readonly />
      <h5>Username:</h5>
      <input type="text" name="username" value="{{user.username}}" readonly />
      <h5>Ticket id:</h5>
      <input type="text" name="tickectid" id="ticketid" value=" " readonly />
      <h5>Type:</h5>
      <input type="text" name="checkbox" value="{{checkbox}}" readonly />
      <h5>Adult:</h5>
      <input type="text" name="adult" value="{{adult}}" readonly />
      <h5>Child:</h5>
      <input type="text" name="child" value="0" readonly />
      <h5>From:</h5>
      <input
        type="text"
        value="{{from_station}}"
        id="from"
        style="display: none"
        readonly
      />
      <input type="text" name="fromstation" id="newfrom" value=" " readonly />
      <h5>
        To:
        <input
          type="text"
          id="to"
          value="{{to}}"
          readonly
          style="display: none"
        />
      </h5>
      <input type="text" name="tostation" id="newto" value=" " readonly />
      <h5>Rate:</h5>
      <input type="text" name="rate" id="rate" value="{{rate}}" readonly />
      <!-- <input type="text" name="newrate" id="newrate" value=" " readonly /> -->
      <h5>Date:</h5>
      <input type="text" name="ticketdate" value="{{date}}" readonly />
      <h5>Time: </h5>
      <input type="text" name="time" id="time" value=" ">
      <h5>Ticket Applicable:</h5>
      <input
        type="text"
        name="usermessage"
        value="{{usermessage}}"
        style="width: 100%"
        readonly
      /><br /><br />
      <input type="submit"/>
    </form>


    <script>
      let ticketid = Math.floor((Math.random() * 100000000) + 1);
      document.getElementById("ticketid").value = ticketid;
    </script>

    <script>
      time = new Date();
      h = time.getHours(); // => 9
      m = time.getMinutes(); // =>  30
      s = time.getSeconds(); // => 51
      document.getElementById("time").value = h + ":" + m  + ":" + s;
      console.log(time)
    </script>

    <script>
      document.getElementById("newrate").value =
        document.getElementById("rate").value * 100;
    </script>

    <script>
      var from = document.getElementById("from").value;
      var to = document.getElementById("to").value;

      while (from >= 0) {
        if (from == 0) {
          document.getElementById("newfrom").value =
            "Chatrapati Shivaji Terminus";
        }

        if (from == 2) {
          document.getElementById("newfrom").value = "Masjid Bunder";
        }

        if (from == 3) {
          document.getElementById("newfrom").value = "Sandhurst Road";
        }

        if (from == 5) {
          document.getElementById("newfrom").value = "Byculla";
        }

        if (from == 6) {
          document.getElementById("newfrom").value = "Chinchpokli";
        }

        if (from == 7) {
          document.getElementById("newfrom").value = "Curry Road";
        }

        if (from == 8) {
          document.getElementById("newfrom").value = "Parel";
        }

        if (from == 9) {
          document.getElementById("newfrom").value = "Dadar";
        }

        if (from == 11) {
          document.getElementById("newfrom").value = "Matunga";
        }

        if (from == 13) {
          document.getElementById("newfrom").value = "Sion";
        }

        if (from == 16) {
          document.getElementById("newfrom").value = "Kurla";
        }

        if (from == 18) {
          document.getElementById("newfrom").value = "Vidyavihar";
        }

        if (from == 20) {
          document.getElementById("newfrom").value = "Ghatkopar";
        }

        if (from == 23) {
          document.getElementById("newfrom").value = "VIkroli";
        }

        if (from == 25) {
          document.getElementById("newfrom").value = "Kanjurmarg";
        }

        if (from == 26) {
          document.getElementById("newfrom").value = "Bhandup";
        }

        if (from == 28) {
          document.getElementById("newfrom").value = "Nahur";
        }

        if (from == 31) {
          document.getElementById("newfrom").value = "Mulund";
        }

        if (from == 34) {
          document.getElementById("newfrom").value = "Thane";
        }

        if (from == 36) {
          document.getElementById("newfrom").value = "Kalwa";
        }

        if (from == 40) {
          document.getElementById("newfrom").value = "Mumbra";
        }

        if (from == 43) {
          document.getElementById("newfrom").value = "Diwa";
        }

        if (from == 47) {
          document.getElementById("newfrom").value = "Kopar";
        }

        if (from == 49) {
          document.getElementById("newfrom").value = "Dombivli";
        }

        if (from == 50) {
          document.getElementById("newfrom").value = "Thakurli";
        }

        if (from == 54) {
          document.getElementById("newfrom").value = "Kalyan";
        }

        if (from == 55) {
          document.getElementById("newfrom").value = "Vithalwadi";
        }

        if (from == 56) {
          document.getElementById("newfrom").value = "Ulhasnagar";
        }

        if (from == 58) {
          document.getElementById("newfrom").value = "Ambernath";
        }

        if (from == 60) {
          document.getElementById("newfrom").value = "Badlapur";
        }

        if (from == 62) {
          document.getElementById("newfrom").value = "Vangani";
        }

        if (from == 64) {
          document.getElementById("newfrom").value = "Shelu";
        }

        if (from == 66) {
          document.getElementById("newfrom").value = "Neral";
        }

        if (from == 68) {
          document.getElementById("newfrom").value = "Bhivvpuri Rd";
        }

        if (from == 70) {
          document.getElementById("newfrom").value = "Karjat";
        }

        if (from == 71) {
          document.getElementById("newfrom").value = "Kelavalli";
        }

        if (from == 73) {
          document.getElementById("newfrom").value = "Dolavalli";
        }

        if (from == 74) {
          document.getElementById("newfrom").value = "Lowjee";
        }

        if (from == 75) {
          document.getElementById("newfrom").value = "Khopoli";
        }

        if (from == 57) {
          document.getElementById("newfrom").value = "Shahad";
        }

        if (from == 59) {
          document.getElementById("newfrom").value = "Ambivalli";
        }

        if (from == 72) {
          document.getElementById("newfrom").value = "Titwala";
        }

        if (from == 76) {
          document.getElementById("newfrom").value = "Khadavli";
        }

        if (from == 77) {
          document.getElementById("newfrom").value = "Vashind";
        }

        if (from == 78) {
          document.getElementById("newfrom").value = "Asangaon";
        }

        if (from == 79) {
          document.getElementById("newfrom").value = "Atgoan";
        }

        if (from == 81) {
          document.getElementById("newfrom").value = "Kardi";
        }

        if (from == 83) {
          document.getElementById("newfrom").value = "Kasara";
        }
        break;
      }

      while (to >= 0) {
        if (to == 0) {
          document.getElementById("newto").value =
            "Chatrapati Shivaji Terminus";
        }

        if (to == 2) {
          document.getElementById("newto").value = "Masjid Bunder";
        }

        if (to == 3) {
          document.getElementById("newto").value = "Sandhurst Road";
        }

        if (to == 5) {
          document.getElementById("newto").value = "Byculla";
        }

        if (to == 6) {
          document.getElementById("newto").value = "Chinchpokli";
        }

        if (to == 7) {
          document.getElementById("newto").value = "Curry Road";
        }

        if (from == 8) {
          document.getElementById("newto").value = "Parel";
        }

        if (to == 9) {
          document.getElementById("newto").value = "Dadar";
        }

        if (to == 11) {
          document.getElementById("newto").value = "Matunga";
        }

        if (to == 13) {
          document.getElementById("newto").value = "Sion";
        }

        if (to == 16) {
          document.getElementById("newto").value = "Kurla";
        }

        if (to == 18) {
          document.getElementById("newto").value = "Vidyavihar";
        }

        if (to == 20) {
          document.getElementById("newto").value = "Ghatkopar";
        }

        if (to == 23) {
          document.getElementById("newto").value = "VIkroli";
        }

        if (to == 25) {
          document.getElementById("newto").value = "Kanjurmarg";
        }

        if (to == 26) {
          document.getElementById("newto").value = "Bhandup";
        }

        if (to == 28) {
          document.getElementById("newto").value = "Nahur";
        }

        if (to == 31) {
          document.getElementById("newto").value = "Mulund";
        }

        if (to == 34) {
          document.getElementById("newto").value = "Thane";
        }

        if (to == 36) {
          document.getElementById("newto").value = "Kalwa";
        }

        if (to == 40) {
          document.getElementById("newto").value = "Mumbra";
        }

        if (to == 43) {
          document.getElementById("newto").value = "Diwa";
        }

        if (to == 47) {
          document.getElementById("newto").value = "Kopar";
        }

        if (to == 49) {
          document.getElementById("newto").value = "Dombivli";
        }

        if (to == 50) {
          document.getElementById("newto").value = "Thakurli";
        }

        if (to == 54) {
          document.getElementById("newto").value = "Kalyan";
        }

        if (to == 55) {
          document.getElementById("newto").value = "Vithalwadi";
        }

        if (to == 56) {
          document.getElementById("newto").value = "Ulhasnagar";
        }

        if (to == 58) {
          document.getElementById("newto").value = "Ambernath";
        }

        if (to == 60) {
          document.getElementById("newto").value = "Badlapur";
        }

        if (to == 62) {
          document.getElementById("newto").value = "Vangani";
        }

        if (to == 64) {
          document.getElementById("newto").value = "Shelu";
        }

        if (to == 66) {
          document.getElementById("newto").value = "Neral";
        }

        if (to == 68) {
          document.getElementById("newto").value = "Bhivvpuri Rd";
        }

        if (to == 70) {
          document.getElementById("newto").value = "Karjat";
        }

        if (to == 71) {
          document.getElementById("newto").value = "Kelavalli";
        }

        if (to == 73) {
          document.getElementById("newto").value = "Dolavalli";
        }

        if (to == 74) {
          document.getElementById("newto").value = "Lowjee";
        }

        if (to == 75) {
          document.getElementById("newto").value = "Khopoli";
        }

        if (to == 57) {
          document.getElementById("newto").value = "Shahad";
        }

        if (to == 59) {
          document.getElementById("newto").value = "Ambivalli";
        }

        if (to == 72) {
          document.getElementById("newto").value = "Titwala";
        }

        if (to == 76) {
          document.getElementById("newto").value = "Khadavli";
        }

        if (to == 77) {
          document.getElementById("newto").value = "Vashind";
        }

        if (to == 78) {
          document.getElementById("newto").value = "Asangaon";
        }

        if (to == 79) {
          document.getElementById("newto").value = "Atgoan";
        }

        if (to == 81) {
          document.getElementById("newto").value = "Kardi";
        }

        if (to == 83) {
          document.getElementById("newto").value = "Kasara";
        }
        break;
      }
    </script>
  </body>
</html>
